.pokeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.pokeFondo{
    background-image: url('https://i.pinimg.com/originals/51/f6/ef/51f6ef1af5a5f406ddccf27f02e93dba.jpg');
    background-size: cover; 
    min-height: 100vh;
}